In [ ]:
import pandas as pd

In [ ]:

import numpy as np

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df=pd.DataFrame(data,index=labels)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [ ]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [ ]:
df[["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
df.loc[:,["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
df.loc[df.index[[3,5,8]],["animal","age"]]

  animal  age
d    dog  NaN
f    cat  2.0
i    dog  7.0

In [ ]:
df[df["visits"]>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [ ]:
df[df["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [ ]:
df[(df["animal"]=="cat") & (df["age"]<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [ ]:
df.loc[df.index[(df["age"]>=2) & (df["age"]<=4) ]]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [ ]:
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [ ]:
df.loc['f', 'age'] = 1.5

In [ ]:
df["visits"].sum()

19

In [ ]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [ ]:
df.loc["k"]=["rat","",2,"no"]

In [ ]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    rat            2       no

In [ ]:
df=df.drop("k")

In [ ]:
df["animal"].value_counts()

cat      4
dog      4
snake    2
rat      1
Name: animal, dtype: int64

In [ ]:
df.sort_values(by=["age","visits"],ascending=[False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [ ]:
df["priority"]=df["priority"].map({"no":False,"yes":True})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [ ]:
df["animal"]=df["animal"].replace("snake","python")
df

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  2.0       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

In [ ]:

df.shift()

KeyError: ignored

In [ ]:
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [ ]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

In [ ]:
df.loc[df['A'].shift() != df['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [ ]:
df['A'].shift()

0     NaN
1     1.0
2     2.0
3     2.0
4     3.0
5     4.0
6     5.0
7     5.0
8     5.0
9     6.0
10    7.0
Name: A, dtype: float64

In [ ]:
df['A']

0     1
1     2
2     2
3     3
4     4
5     5
6     5
7     5
8     6
9     7
10    7
Name: A, dtype: int64

In [ ]:
df=pd.DataFrame(np.random.random(size=(5,3)))

In [ ]:
df

          0         1         2
0  0.850274  0.482211  0.810675
1  0.420929  0.942269  0.510042
2  0.872417  0.890713  0.630410
3  0.642855  0.778297  0.094772
4  0.910594  0.256386  0.067980

In [ ]:

df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.135887 -0.232176  0.096288
1 -0.203485  0.317856 -0.114371
2  0.074570  0.092866 -0.167436
3  0.137547  0.272989 -0.410536
4  0.498941 -0.155267 -0.343674

In [ ]:
df.sub(df.mean(axis='columns'),axis='index')

          0         1         2
0  0.135887 -0.232176  0.096288
1 -0.203485  0.317856 -0.114371
2  0.074570  0.092866 -0.167436
3  0.137547  0.272989 -0.410536
4  0.498941 -0.155267 -0.343674

In [ ]:
df.mean(axis='columns')

0    0.714386
1    0.624413
2    0.797847
3    0.505308
4    0.411653
dtype: float64

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

In [ ]:
df

,a,b,c,d,e,f,g,h,i,j
0,0.471293,0.458933,0.149237,0.791491,0.797538,0.817724,0.944619,0.113083,0.483281,0.207525
1,0.342204,0.705513,0.359876,0.481743,0.489890,0.077557,0.018736,0.885846,0.098443,0.713913
2,0.341143,0.913764,0.993356,0.443948,0.329726,0.611489,0.719325,0.990178,0.411366,0.700854
3,0.225975,0.912923,0.416499,0.803796,0.009848,0.390808,0.428090,0.322425,0.355114,0.204319
4,0.506475,0.278069,0.243297,0.610517,0.408656,0.479706,0.261418,0.984311,0.032849,0.175275

In [ ]:
df.sum()

a    2.994060
b    1.810855
c    1.655033
d    1.865229
e    2.573663
f    2.393793
g    2.998457
h    2.880714
i    1.252146
j    4.128402
dtype: float64

In [ ]:
df.sum().idxmin()

'i'

In [ ]:
len(df) - df.duplicated(keep=False).sum()

5

In [ ]:
nan=np.nan

In [ ]:
data = [[0.04,0.1,nan,0.5,nan,0.6,nan,0.54,nan,nan],
        [0.54,nan,0.02,nan,0.57,nan,0.87,nan,nan,0.48],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

In [ ]:
df=pd.DataFrame(data=data,columns=list("abcdefghij"))

In [ ]:
df

      a    b     c     d     e     f     g     h     i     j
0  0.04  0.1   NaN  0.50   NaN  0.60   NaN  0.54   NaN   NaN
1  0.54  NaN  0.02   NaN  0.57   NaN  0.87   NaN   NaN  0.48
2   NaN  NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49  NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN  NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

In [ ]:
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

In [ ]:
df.isnull()

       a      b      c      d      e      f      g      h      i      j
0  False  False   True  False   True  False   True  False   True   True
1  False   True  False   True  False   True  False   True   True  False
2   True   True  False   True  False  False   True   True  False  False
3  False   True   True  False  False  False  False   True   True   True
4   True   True  False   True  False   True  False   True  False  False

In [ ]:
df.isnull().cumsum(axis=1)

   a  b  c  d  e  f  g  h  i  j
0  0  0  1  1  2  2  3  3  4  5
1  0  1  1  2  2  3  3  4  5  5
2  1  2  2  3  3  3  4  5  5  5
3  0  1  2  2  2  2  2  3  4  5
4  1  2  2  3  3  4  4  5  5  5

In [ ]:
(df.isnull().cumsum(axis=1) == 3)

       a      b      c      d      e      f      g      h      i      j
0  False  False  False  False  False  False   True   True  False  False
1  False  False  False  False  False   True   True  False  False  False
2  False  False  False   True   True   True  False  False  False  False
3  False  False  False  False  False  False  False   True  False  False
4  False  False  False   True   True  False  False  False  False  False

In [ ]:
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    g
1    f
2    d
3    h
4    d
dtype: object

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [ ]:
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [ ]:
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int64

In [ ]:
df

     A   B
0   46  29
1   75  22
2   49  63
3   33  43
4   71  75
..  ..  ..
95  60  87
96  57  40
97  86  19
98  50  56
99  97  94

[100 rows x 2 columns]